Получении ip хоста..
Ip хоста успешно получен...
Проверка подключения к БД...
Подключение к БД успешно!
Включение tcp-to-serial мостов...
Cервис tcp-to-serial-bridge-router1 запущен
Проверка сервиса tftpd-hpa...
Сервис tftpd-hpa запущен
Проверка сервиса vsftpd...
Сервис vsftpd запущен
Вход в Uboot устройства 1...
Инициализация SSD устойства 1...
SSD удалось инициализировать!
Настройка BOOTMENU устройства 1...
BOOTMENU натсроено
Установка ПО на устройство 1...
Загрузка файлов по TFTP прошла успешно. Началась установка файлов с флешки
Установка завершена!
Вход для проведения проверок на устройство 1...
Проверка наличия HDD на устройстве 1...
Внешний HDD не найден
Внутренний HDD найден
Проверка наличия 2-х Flash накопителей на устройстве 1...
Проверка работоспособности портов на устройстве 1...
Удаление разделов на диске 1...
Удаление разделов выполнено успешно
Создание протокола проверки изделия для устройства 1...
Результат для устройства 1:
Создание карточки изделия для устройства 1...
