{% extends "base_generic.html" %}

{% block title %}
{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
{% load static %}

<title>История девайса</title>
{% endblock %}

{% block page_name %}<div align="center">История девайса</div>{% endblock %}

{% block middle %}
<form method="post" id="generateSerialNumbers" data-modifications-url="{% url 'ajax_load_modifications' %}">
    {% csrf_token %}
    <div class="generate-serial-numbers-label">Серийный номер</div>
    {{ form.serial_number }}
    <div align="center" class="errors" id="router_serial_number_1_error">{{ form.serial_number.errors }}</div>

    <br>
    <br>
    <div class="generate-serial-numbers-label"><button type="submit" id="generate-serial-numbers-button" class="save btn btn-default" name="submit_btn">Поиск</button></div></form>
    <br>
{% if history %}
<table bgcolor=#DCDCDC border="1" width="80%">
<caption >История</caption>
    <br>
    <tr>
    <th>Сообщение</th>
    <th>Дата</th>
    </tr>
    {% for data in history %}
    <tr><td>{{ data.message }}</td><td>{{ data.date_time }}</td>
    {% endfor %}
</table>
{% endif %}

{% if QuerySet %}
 123
{% endif%}

{% endblock %}