{% extends "base_generic.html" %}

{% block title %}
{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
{% load static %}

<title>Статистика</title>
{% endblock %}

{% block page_name %}<div align="center">Статистика</div>{% endblock %}

{% block middle %}
<form method="post" id="generateSerialNumbers" data-modifications-url="{% url 'ajax_load_modifications' %}">
    {% csrf_token %}
    <div class="generate-serial-numbers-label">Время</div>
    {{ form.date_time }}
    <br>
    <br>
    <div class="generate-serial-numbers-label"><button type="submit" id="generate-serial-numbers-button" class="save btn btn-default" name="submit_btn">Поиск</button></div></form>
    <br>
{% if statistic %}
<table bgcolor=#6767e1 border="1" width="80%">
<caption >Статистика</caption>
    <th>Производитель</th>
    <th>Стенд визульного осмотра</th>
    <th>Стенд диагностики</th>
    <th>Стенд сборки</th>
    <th>Стенд ПСИ</th>
    <th>Стенд упаковки</th>

    <tr><td>{{ statistic.All }}</td><td>{{ statistic.stand_visual_inspection }}</td><td>{{ statistic.stand_diagnostic }}</td><td>{{ statistic.stand_board_case }}</td><td>{{ statistic.stand_PCI }}</td><td>{{ statistic.stand_package }}</td>
</table>
{% endif %}
{% endblock %}